/* gallery page */
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

a:active {
    color: rgba(14, 62, 75, 0.824);
    text-decoration: underline;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    height: 100%;
}

canvas {
    display: block;
}

.headTitle {
    z-index: 999;
    position: fixed;
    font-family: 'Lexend', sans-serif;
    background-color: rgba(0, 0, 0, 0.306);
    color: antiquewhite;
    height: 80px;
    width: 100%;
}

.logo {
    cursor: pointer;
    position: absolute;
    width: 60px;
    margin: 10px;
}

.navDiv {
    height: 80px;
    width: fit-content;
}

.navLink0 {
    cursor: pointer;
    font-family: 'Lexend', sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 4px black;
    position: absolute;
    left: 70px;
    font-size: 30px;
    padding: 22.5px;
    margin: 0px;
}

.navLink1 {
    font-family: 'Lexend', sans-serif;
    height: 30px;
    font-size: 30px;
    position: absolute;
    left: 220px;
    padding: 25px;
    margin: 0px;
}


/* details */
.profileBG {
    width: 130%;
    height: 100%;
    background: url(assets/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}

.pageTitle{
    z-index: 998;
    font-family: 'Lexend', sans-serif;
    font-size: 180pt;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 0px;
    margin-top: 30px;
    width:1200px;
    left:0px;
}

.catagoryTitle{
    font-family: 'Lexend', sans-serif;
    font-size: 50pt;
    font-weight: 800;
    color: #ffffff;
    margin: 30px;
    top: 1000px;
    width: 100%;
    left:0px;
}

.pics{
    width: 200px;
    height: auto;
    margin: 30px;
    margin-left: 60px;
    border-style: solid;
    border-width: 5px;
}

.pano{
    width: auto;
    height: 133px;
    margin: 30px;
    margin-left: 60px;
    border-style: solid;
    border-width: 5px;
}

.picLink{
    font-family: 'Lexend', sans-serif;
}

.bgm{
    margin: 30px;
    margin-right: 50%;
    color:#ffffff;
    font-family: 'Lexend', sans-serif;
    font-size: 20pt;
    font-weight: bolder;
}

.player{
    margin: 30px;
    margin-top: 0px;
}

.position{
    width:100%;
}

#main{
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 100vh;
    z-index: 998;
    position: absolute;
    left: 0;
    width: 60%;
    padding-right: 40%;

}

#canvasContainerCam {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

#canvasContainerSnow {
    position: absolute;
    z-index: 1000;
}